.posts{
	width: 750px;
	height: 100%;
	margin: auto;
}
.list-group-item{
	margin-bottom: 15px;
}
#new-post{
	width: 100%;
	height: 100%;
	max-width: 800px;
	margin: auto;
}
#new-btn{
	width: 35%;
	margin-top: 25px;
}