.posts {
	height: 100%;
	margin: auto;
	margin: 50px;
}
.list-group-item {
	margin-bottom: 15px;
}
#create-title{
	text-align: center;
	margin-bottom: 5%;
}
#new-post {
	width: 50%;
	height: 75%;
	margin: auto;
}
#new-post-btn {
	display: flex;
	justify-content: center;
	width: 15%;
	font-weight: 500;

}
#post-submit, #post-cancel{
	width: 50%;
}
@media (orientation: portrait) {
	#title {
		height: 36px;
		font-size: 18px;
	}
	#content {
		height: 210px;
		width: 100%;
	}
	
	#new-post-btn {
		width: 35%;
		margin-top: 25px;
		margin-left: 223px;
		margin: auto;
	}
	.posts{
		margin: 15px;
	}
	#post-welcome{
		font-size: 30px;
	}
	#create-title{
		text-align: center;
		margin-bottom: 5%;
	}
	#new-post {
		width: 90%;
		height: 75%;
		margin: auto;
	}
}
