.open-journal {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 12px;
    height: 750px;
    width: 900px;
    background-color: #3f3f3f;
    overflow: hidden;
}
#middle-strip {
    position: absolute;
    margin: auto;
    background-color: #EBE4A3;
    width: 10px;
    height: 725px;
}
#r-pg, .l-pg {
    padding: 15px;
    height: 725px;
    width: 410px;
    background-color: #FFFACC;
}
#r-pg-num{
   text-align: right;
}

.edit-form {
    position: absolute;
    padding: 15px;
    height: 725px;
    width: 410px;
    background-color: #fffde8;
    box-shadow: 5px 5px 3px gray ;
}
#new-title, #new-dream-signs, #new-content {
    width: 385px;
    flex-direction: column;
}
#new-lucid {
    width: fit-content;
}
#new-content {
    height: 200px;
}
.journal-btns, #r-pg-btns{
    margin-bottom: 20px;
}

