.login-form,
.reg-form {
	background-color: lavender;
	margin: auto;
	width: 100%;
	max-width: 500px;
	height: 100%;
	padding: 15px;
}



#name,
#reg-prompt {
	font-size: 24px;
	display: block;
	color: rgb(34, 127, 214);
}

#welcome {
	color: black;
	font-size: 20px;
}
.btn {
	margin-top: 0px;
}