
.user-info {
    display: inline-flex;
    align-items: center;
}
.prof-pic {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.username {
    font-size:20px;
}
#moon-pic{
    margin-right: 15px;
}
@media (orientation: portrait) {
    .prof-pic{
        height: 0px;
        width: 0px;
        float: right;
    }
    .user-info{
        height: 0px;
        width: 0px;
    }
}
